.tour {
  &__details-container {
    margin: 60px auto;
    height: 190px;
    display: flex;
    background-color: #39dbbb;
    flex-direction: column;
    line-height: 26px;
    text-align: left;
    justify-content: space-evenly;
    border-radius: 4px;
    -webkit-box-shadow: 2px 7px 11px -3px rgba(0, 0, 0, 0.43);
    box-shadow: 2px 7px 11px -3px rgba(0, 0, 0, 0.43);

    span {
      width: 100%;
      margin: 0 50px;
    }
  }
}

.red {
  color: red;
}
