.tour {
  width: 100%;
  &__wrapper {
    margin: 20px auto;
    background-color: #39dbbb;
    border-radius: 4px;
    -webkit-box-shadow: 2px 7px 11px -3px rgba(0, 0, 0, 0.43);
    box-shadow: 2px 7px 11px -3px rgba(0, 0, 0, 0.43);
  }
  &__details-container {
    margin: 60px auto;
    height: 290px;

    display: flex;
    flex-direction: column;
    line-height: 26px;
    text-align: left;
    // max-width: 900px;
    justify-content: space-evenly;
    border-radius: 4px;
    word-wrap: break-word;
    width: 100%;
    span {
      //   max-width: 900px;
      margin: 0 10px;
      width: 100%;
    }
  }
}

.red {
  color: red;
}
